.view-body {
    display: none;
}

.active{
    display: block;
}

.btn-active{
    background-color : black;
    color : white;
}

.menu-button:hover{
    background-color : #00356a;
}
@keyframes fadeInSection {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.form-div{
    width : 30%;
}
.heading{
     background-image: linear-gradient(to right, black, 30% , white);
     color:white;
     border-radius : 180px 180px 180px 180px;
     padding-left : 10px;
}
.negative-row {
    background-color: #ffcccc; /* Light red */
}


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}