.view-body {
    display: none;
}

.active{
    display: block;
}

.btn-active{
    background-color : black;
    color : white;
}

.menu-button:hover{
    background-color : #00356a;
}
@keyframes fadeInSection {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.form-div{
    width : 30%;
}
.heading{
     background-image: linear-gradient(to right, black, 30% , white);
     color:white;
     border-radius : 180px 180px 180px 180px;
     padding-left : 10px;
}
.negative-row {
    background-color: #ffcccc; /* Light red */
}
